.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-width {
  max-width: 1920px;
  width: 100%;
  padding: 120px 50px;
  background-color: #0c0c0c;
  display: flex;
  justify-content: space-around;
}
.about-container {
  display: flex;
  align-items: center;
  gap: 100px;
  max-width: 1300px;
  width: 100%;
  color: white;
}
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.sub-title:before {
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: red;
  margin-right: 10px;
}
.sub-title {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.title {
  font-size: 50px;
  text-transform: uppercase;
}
.description-container button {
  margin-top: 40px;
}

@media only screen and (max-width: 1279px) and (min-width: 769px) {
  .content-width {
    padding: 100px;
  }
  .about-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .content-width {
    padding: 80px;
  }
  .about-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sub-title {
    font-size: 16px;
  }
  .title {
    font-size: 45px;
  }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .content-width {
    padding: 80px 30px;
  }
  .about-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  .description-container {
    justify-content: center;
    align-items: center;
  }
  .description-container p {
    text-align: center;
  }
  .sub-title {
    font-size: 14px;
  }
  .title {
    font-size: 35px;
  }
}
