.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-width {
  max-width: 1920px;
  width: 100%;
  padding: 120px 50px;
  background-color: #0c0c0c;
  display: flex;
  justify-content: space-around;
}
.classes-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 1200px;
  width: 100%;
  color: white;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.sub-title:before {
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: red;
  margin-right: 10px;
}
.sub-title {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
.title {
  font-size: 50px;
}
.body-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}
.class-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.class-card p {
  text-align: center;
}

@media only screen and (max-width: 1279px) and (min-width: 769px) {
  .content-width {
    padding: 100px;
  }
  .classes-container {
    gap: 50px;
  }
  .body-container {
    gap: 40px;
  }
  .class-card {
    width: 45%;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .content-width {
    padding: 80px;
  }
  .classes-container {
    gap: 30px;
  }
  .sub-title {
    font-size: 16px;
  }
  .title {
    font-size: 45px;
  }
  .body-container {
    gap: 20px;
  }
  .class-card {
    width: 45%;
    margin-top: 50px;
  }
  .class-card h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .content-width {
    padding: 80px 30px;
  }
  .classes-container {
    gap: 50px;
  }
  .sub-title {
    font-size: 14px;
  }
  .title {
    font-size: 35px;
  }
  .body-container {
    justify-content: center;
  }
  .class-card {
    width: 80%;
    margin-top: 10px;
  }
  .class-card h3 {
    font-size: 20px;
  }
  .class-card p {
    font-size: 16px;
  }
}
