.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-width {
  max-width: 1920px;
  width: 100%;
  padding: 120px 50px;
  display: flex;
  justify-content: space-around;
  background: #ffffff url("./images/plan-bg.png") no-repeat center;
  background-size: cover;
}
.plan-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1200px;
  width: 100%;
  color: white;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-transform: uppercase;
}
.sub-title:before {
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: red;
  margin-right: 10px;
}
.sub-title {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 50px;
}
.body-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* gap: 50px; */
}
.plan-card {
  margin-top: 50px;
  border: 2px solid #db221f28;
  padding: 50px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.plan-title {
  font-size: 20px;
  text-transform: uppercase;
}
.plan-price {
  font-size: 35px;
  font-weight: 600;
  color: red;
}
.coverage-container li {
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 14px;
}
.coverage-container li:before {
  content: "✓";
  margin-right: 10px;
}
.plan-card:hover {
  transition: 0.4s ease;
  transform: translateY(-20px);
}
.plan-card button {
  margin-top: 20px;
}

@media only screen and (max-width: 1279px) and (min-width: 769px) {
  .content-width {
    padding: 100px;
  }
  .plan-container {
    gap: 50px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .content-width {
    padding: 80px;
  }
  .plan-container {
    gap: 30px;
  }
  .sub-title {
    font-size: 16px;
  }
  .title {
    font-size: 45px;
  }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .content-width {
    padding: 80px 30px;
  }
  .plan-container {
    gap: 0px;
  }
  .title-container {
    align-items: center;
  }
  .sub-title {
    font-size: 14px;
  }
  .title {
    font-size: 35px;
    text-align: center;
  }
}
