.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-width {
  max-width: 1920px;
  width: 100%;
  padding: 120px 50px;
  display: flex;
  justify-content: space-around;
  background-color: #141414;
  background-size: cover;
}
.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1440px;
  width: 100%;
  color: white;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.sub-title:before {
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: red;
  margin-right: 10px;
}
.sub-title {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 50px;
}
.body-container {
  /* display: flex;
  justify-content: space-between;
  gap: 20px; */
}
.student-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.testimonial-box {
  padding: 40px 40px 100px 40px;
  background-color: rgba(255, 0, 0, 0.041);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.testimonial-box p {
  text-align: center;
}
.student-box {
  transform: translateY(-50px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.student-box img {
  transform: scale(0.9);
}
.student-box h3 {
  margin-top: 15px;
  font-size: 20px;
  text-transform: uppercase;
}
.student-box h6 {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
  color: white;
}

@media only screen and (max-width: 1279px) and (min-width: 769px) {
  .content-width {
    padding: 100px;
  }
  .testimonial-container {
    gap: 50px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .content-width {
    padding: 80px;
  }
  .testimonial-container {
    gap: 50px;
  }
  .sub-title {
    font-size: 16px;
  }
  .title {
    font-size: 45px;
  }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .content-width {
    padding: 80px 30px;
  }
  .testimonial-container {
    gap: 50px;
  }
  .title-container {
    align-items: center;
  }
  .sub-title {
    font-size: 14px;
  }
  .title {
    font-size: 35px;
    text-align: center;
  }
}
